.movie-detail {
  padding: 1rem;
  background-color: var(--color-fg);
}

.movie-detail__poster {
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 1);
}

.movie-detail__info {
  color: var(--color-bg);
}

.movie-detail__title {
  font-size: 1.5rem;
  font-weight: 800;
}

.movie-detail__meta {
  font-size: 0.875rem;
  color: #aaa;
}

.movie-detail__director {
  font-size: 1rem;
  font-weight: 500;
}

.movie-detail__description {
  font-size: 1rem;
  line-height: 1.6;
}

.movie-detail__trailer iframe {
  border-radius: 0.5rem;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .movie-detail {
    padding: 1.5rem;
  }

  .movie-detail__poster-wrap {
    width: 60%;
    margin: 0 auto;
  }

  .movie-detail__title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .movie-detail {
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }

  .movie-detail__poster-wrap {
    width: 280px;
    margin: 0;
  }
}
