.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: var(--color-fg);
  align-items: start;
}

.movie-card {
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 1);
  overflow: hidden;
  width: 100%;
  height: auto;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.movie-card__image {
  width: 100%;
  aspect-ratio: 2 / 3;
  height: auto;
  object-fit: cover;
  display: block;
}

.movie-card__title {
  padding: 0.5rem;
  color: var(--color-fg);
  font-size: 0.85rem;
  font-weight: var(--fw-extrabold);
  text-align: center;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-card__category {
  padding-bottom: 1rem;
  color: var(--color-fg);
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  text-align: center;
}

.no-movies {
  grid-column: 1 / -1;
  text-align: center;
  padding: 2rem;
  color: var(--color-bg);
  font-size: 1.1rem;
}

@media (min-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .movie-card__title {
    font-size: 0.9rem;
    height: 4rem;
  }
}

@media (min-width: 600px) {
  .movie-grid {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .movie-card__title {
    font-size: 1rem;
    height: 4.5rem;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }

  .movie-card {
    width: 20rem;
  }
}
