<div class="log">
  <form id="profile-form" class="profile-form flex flex-col gap-lg" method="post">
    <input type="hidden" id="profile-id" name="id" value="" />

    <div class="form-group flex flex-col gap-sm">
      <label for="name">Nom du profil:</label>
      <input type="text" id="name" name="name" required />
    </div>

    <div class="form-group flex flex-col gap-sm">
      <label for="avatar">Avatar:</label>
      <input type="text" id="avatar" name="avatar" />
    </div>

    <div class="form-group flex flex-col gap-sm">
      <label for="min_age">Âge minimum:</label>
      <select id="min_age" name="min_age" required>
        <option value="0">0 ans</option>
        <option value="6">6 ans</option>
        <option value="12">12 ans</option>
        <option value="16">16 ans</option>
        <option value="18">18 ans</option>
      </select>
    </div>

    <button type="button" class="btn-approve-profile">
      Ajouter / Modifier le profil
    </button>
  </form>
</div>
